
body {background-color: cornsilk
  ;
color:black;
border-left: 50px;
margin-left: 50px;
margin-right: 50px;
}

hr {
border-style: dotted none none;
width: 50%;
height: 0;
border-color: black;
border-width:5px;}


h1 {color:red;
font-family: "Lucida handwriting", cursive;
font-stretch: ultra-expanded;
}

h2{color:red;
font-family: Arial, sans-serif;
font-style: normal;
font-stretch: ultra-expanded;}
